<header class="header-nav">
  <div class="branding">
    <p>MEN</p>
    <p style="margin-top:-0.5px; font-weight:600; font-size:25px">ZENWA</p>
    <p>WOMEN</p>
  </div>
</header>

<style>
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 1px;
    height:20px;
  }
  .branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
</style>
