<header class="header-nav">
  <div class="branding">
    <p>MEN</p>
    <p style="margin-bottom:-3rem;">ZENWA</p>
    <p>WOMEN</p>
  </div>
</header>

<style>
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1px;
    background-color: white;
    padding: 0 30px 0 30px;
  }
  .branding {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
  }
</style>
