<section class='banner'>
  <div class="banner-wrapper">
    <p>SALE</p>
    <p>JUST IN</p>
    <p>DESIGNERS</p>
    <p>CLOTHING</p>
    <p>SHOES</p>
    <p>BAGS</p>
    <p>ACCESSORIES</p>
    <p>HOME</p>
    <p>STORIES</p>
    <p>WHAT'S ON</p>
    <p>GIFTS</p>
  </div>
</section>

<style>
  .banner{
        display: flex;
    align-items: center;
    justify-content:center;
  }
  .banner-wrapper {
    width:100%;
    padding: 2px;
    border-bottom: 3px solid black;
    background: white;
    color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .slide-text {
    position: absolute;
    top: 155px;
    left: -150%; /* Initially position the divs outside the left edge of the screen */
    transform: translate(0, -50%);
    color: black;
    padding: 20px;
    font-size: 20px;
    transition: left 0.5s ease-in-out; /* Add a smooth transition effect */
  }
</style>

{% comment %} <script>
  document.addEventListener('DOMContentLoaded', function () {
    const text1 = document.getElementById('text1');
    const text2 = document.getElementById('text2');
    const text3 = document.getElementById('text3');

    // Array of text elements
    const texts = [text1, text2, text3];
    let currentIndex = 0;

    // Function to slide the text to the middle
    function slideToMiddle(element) {
      element.style.left = '40%';
    }

    // Function to reset the position of the text
    function resetPosition(element) {
      element.style.left = '-100%';
    }

    // Function to handle sliding the text elements
    function slideText() {
      resetPosition(texts[currentIndex]);
      currentIndex = (currentIndex + 1) % texts.length;
      slideToMiddle(texts[currentIndex]);
    }

    // Initial slide
    slideToMiddle(texts[currentIndex]);

    // Set interval to slide the text every 3 seconds
    setInterval(slideText, 3000);
  });
</script> {% endcomment %}

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
