<section class="banners-section">
  <div class="banner-row" style="background-color:#dccbbc;    height: 28rem;">
    <div class="banner-left" style="    color: black;
    padding-bottom: 10rem;
    width: 24%;
    text-align: center;">
      <h3 style="font-size: 22px;">Well Suited</h3>
      <p>Discover world to have the vs code python ingreate with all your power to conquer the ants</p>
      <p style="text-decoration: underline;">Shop One Piece</p>
    </div>
    <div class="banner-right">
      <img
        style="
          width: 24.5rem;
          height: 29.5rem;
        "
        width="25"
        height="25"
        loading="lazy"
        src="{{ 'banner1-img.png' | asset_url }}"
      >
    </div>
  </div>
  <div class="banner-row" style="background-color:#6a6d71;    height: 28rem;">
    <div class="banner-right">
      <img
        style="
          width: 24.5rem;
          height: 29.5rem;
        "
        width="25"
        height="25"
        loading="lazy"
        src="{{ 'banner1-img.png' | asset_url }}"
      >
    </div>
    <div class="banner-left" style="    color: white;
      padding-bottom: 10rem;
      width: 24%;
      text-align: center;">
      <h3 style="font-size: 22px;">Well Suited</h3>
      <p>Discover world to have the vs code python ingreate with all your power to conquer the ants</p>
      <p style="text-decoration: underline;">Shop One Piece</p>
    </div>
    
  </div>
  <div class="banner-row" style="background-color:#a7a2a2;    height: 28rem;">
    <div class="banner-left" style="    color: white;
      padding-bottom: 10rem;
      width: 24%;
      text-align: center;">
      <h3 style="font-size: 22px;">Well Suited</h3>
      <p>Discover world to have the vs code python ingreate with all your power to conquer the ants</p>
      <p style="text-decoration: underline;">Shop One Piece</p>
    </div>
    <div class="banner-right">
      <img
        style="
          width: 24.5rem;
          height: 29.5rem;
        "
        width="25"
        height="25"
        loading="lazy"
        src="{{ 'banner1-img.png' | asset_url }}"
      >
    </div>
  </div>
  
</section>
<style>
  .two-images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .banner-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    color: white;
    justify-content: flex-end;
    height: 100%;
  }
  .gender-text {
    cursor: pointer;
    padding: 5px;
    border: none;
    font-size: 23px;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid #ffffff;
  }
</style>

{% schema %}
{
  "name": "Banners Section",
  "settings": [],
  "presets": [
    {
      "name": "banners-section"
    }
  ]
}
{% endschema %}
