<section class="two-images-wrapper">
  <h4 style="padding:10px ;font-size: 18px;">JUST IN</h4>
  <div style="width: 100%;display: flex;">
    <div class="men">
      <a href='collections/mens-collection'>
        <div class="gender-text">SHOP MEN'S</div>
      </a>
    </div>
    <div class="women">
      <a href='collections/womens-collection'>
        <div class="gender-text">SHOP WOMEN'S</div>
      </a>
    </div>
  </div>
</section>
<style>
  .two-images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }

  .men {
    background-image: url("{{ 'men.png' | asset_url }}");
    width: 50%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .women {
    background-image: url("{{ 'women.png' | asset_url }}");
    width: 50%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gender-text {
    cursor:pointer;
    padding: 5px;
    border: none;
    font-size: 23px;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid #ffffff;
  }
</style>

{% schema %}
{
  "name": "Gender Section",
  "settings": [],
  "presets": [
    {
      "name": "gender-section"
    }
  ]
}
{% endschema %}
