<section class="serach-sec">
  {% if search.performed %}
    <div>
      Here's your results for <strong> {{ search.terms }}</strong>
    </div>
    <div class="product-grid">
      {% for result in search.results %}
        {% if result.object_type == 'product' %}
          {% render 'product-card', product: product %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <h1>not results found!</h1>
  {% endif %}
</section>
<style>
  .serach-sec{
    padding:30px;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns */
    justify-items: center;
    width: 86%;
  }
</style>
{% schema %}
{
  "name": "search",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "search"
    }
  ]
}
{% endschema %}
