<section>
  {% if search.performed %}
    <h1>search page</h1>

    {% for result in search.results %}
      <p>{{ result.object_type == 'product'}}</p>
      <a href="{{result.url}}">{{ result.title }}</a>
    {% endfor %}
  {% else %}
    <h1>not results found!</h1>
  {% endif %}
</section>

{% schema %}
{
  "name": "search",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "search"
    }
  ]
}
{% endschema %}
